%div{id: "sessions"}
  %h1{class: "header span", style: "display: block"} you need to log in to view this page
  %div{class: "span", style: "display: block"}
    = button_to "Login", '/login', method: :get
  %div{class: "span", style: "display: block"}
    = button_to "Sign Up", '/users/new', method: :get
