%div{id: "sessions"}
  %h1{class: "header span", style: "display: block"} Login

  = form_with class: "span", url: '/login' do |f|
    = f.text_field :username, class: 'flex_input fill', placeholder: "username"
    = f.password_field :password, class: 'flex_input fill', placeholder: "password"
    = f.submit "Login", class: 'submit fill'
