%h1{class: "header"} Login

= form_with url: '/login' do |f|
  = f.text_field :username, class: 'flex_input', placeholder: "username"
  = f.password_field :password, class: 'flex_input', placeholder: "password"
  = f.submit "Login", class: 'submit'
