%h1 welcome

- if logged_in?
  %h1 
    you are logged in 
    = current_user.username
    = button_to "Logout", '/logout', method: :delete
- if !logged_in?
  = button_to "Login", '/login', method: :get
  = button_to "Sign Up", '/users/new', method: :get
