%div{id: "cubing"}
  %div{class: "sect span"}
    %h1{class: "label span", style: "display: block"}
      tutorials
    %ul{class: "span", style: "grid-row-start: 2;"}
      - @tutorials.each do |tutorial|
        %li
    %div{class: "new span", style: "display: block"}  
      %a{href: "/tutorials/new"}
        new tutorial
