%div{id: "cubing"}
  %div{class: "sect"}
    %h1{class: "label"}
      tutorials
    %ul
      - @tutorials.each do |tutorial|
        %li
    %div{class: "new"}  
      %a{href: "/tutorials/new"}
        new tutorial
