%h1{class: "header"} Sign Up

= form_with model: @user do |f|
  = f.text_field :username, class: 'flex_input', placeholder: "username"
  = f.password_field :password, class: 'flex_input', placeholder: "password"
  = f.submit class: 'submit'
