%div{id: "home"}
  %h1{class: "welcome"}
    Zimlit.com
    %p coding, cubing, conlanging, conworlding
- if logged_in?
  %h1 
    = button_to "Logout", '/logout', method: :delete
- if !logged_in?
  = button_to "Login", '/login', method: :get
  = button_to "Sign Up", '/users/new', method: :get
