= form_with do |f|
  = f.text_field :title, placeholder: "title", class: "flex_input"
  %div{'data-controller': "tabs", 'data-tabs-index': '0', class: "tab-li-cont"}
    %ul{class: "tab-list"}
      %li{'data-target': 'tabs.tab', 'data-action': 'click->tabs#change', class: 'is-active tab-li'}
        %a
          overview
      %li{'data-target': 'tabs.tab', 'data-action': 'click->tabs#change', class: 'tab-li'}
        %a
          stats
      %li{'data-target': 'tabs.tab', 'data-action': 'click->tabs#change', class: 'tab-li'}
        %a
          main body

    %div{class: "tab-cont"}
      %div{class: "tab box", "data-target": "tabs.tabPanel"}
        = f.text_field :purpose, class: 'flex_input_fill', placeholder: 'purpose/main idea'
        = f.text_area :steps, class: 'flex_tall_input_fill', placeholder: 'steps'
      %div{class: "tab box is-hidden", "data-target": "tabs.tabPanel"}
        panel 2
      %div{class: "tab box is-hidden", "data-target": "tabs.tabPanel"}
        panel 3

