%h1{class: "header"} New project

= form_with model: @project do |f|
  = f.text_field :title, class: 'flex_input', placeholder: "title"  
  = f.text_field :url, class: 'flex_input', placeholder: "url"
  = f.submit class: 'submit' 
