%div{:id => "coding"}
  %p{:class => "github"}
    %a{:class => "github-button", :href => "https://github.com/zimlit"}
      github
  %div{:class => "sect"}
    %h1{:class => "label"}
      projects
    %ul
      %li
        %a{:href => "https://github.com/zimlit/zimlit-com-st"}
          this website
      %li
        %a{:href => "https://github.com/zimlit/valley"}
          the valley programing language
