/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#nav {
  margin: 1em;
  border-radius: 25px;
  background: #555;
  font-size: 2vw;
  size: 50%;
}
  
.nav-item {
  margin: 0.5em 1em 0.5em 1em;
  background: gray;
  display: inline-block;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 5px;
}

.nav-item:hover {
  background: #777;
}

body {
  background: #333;
}

* {
  font-family: 'roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #369;
}

a:active {
  text-decoration: underline;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0em;
}


.sect {
  background: #555;
  margin: 2em 1em;
  padding: .5em .5em 10em;
  border-radius: 25px;
}

.label {
  text-align: center;
  text-decoration: underline;
  color: #575;
  margin-bottom: 2em;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
