/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#nav {
  font-size: 2vw;
  display: grid;
}

.span {
  grid-column-start: 2;
  grid-column-end: 23;
  border-radius: 5px;
  display: grid;
}
  
.nav-item {
  margin: 0.5em 1em 0.5em 1em;
  background: gray;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 5px;
  display: inline-block;
}

.nav-item:hover {
  background: #777;
}

body {
  background: #333;
  margin: 0em;
}

* {
  font-family: 'roboto', sans-serif;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

a {
  text-decoration: none;
  color: #369;
}

a:active {
  text-decoration: underline;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0em;
}


.sect {
  background: #555;
  padding: .5em .5em 3em;
  border-radius: 5px;
}

.label {
  text-align: center;
  text-decoration: underline;
  color: #575;
}

form {
  margin-top: 1em;
}
/*
.flex_input {
  margin-bottom: 1em;
  padding: 1em 0.5em 1em 0.5em;
  min-width: 30em;
}
*/

.flex_input {
  margin-bottom: 1em;
  padding: 1em 0.5em 1em 0.5em;
}

.flex_tall_input {
  margin-bottom: 1em;
  padding: 1em 0.5em 1em 0.5em;
  min-width: 95%;
  min-height: 25em;
  align-items: start;
  display: flex;
  background: #555;
  border: none;
  border-radius: 5px;
  resize: none;
}

.submit {
  margin-bottom: 1em;
  padding: 1em 0.7em 1em 0.7em;
}

.header {
  text-align: center
}

.is-hidden {
  visibility: hidden;
}

.tab-list {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

.tab-li {
  margin: 0em;
  border-color: grey;
  border-width: 2px;
  border-style: solid;
  width: 33%;
}

.tab-cont {
  position: relative;
}

.tab {
  position: absolute;
  top: 1em;
  left: 0em;
  min-width: 100%;
}

.is-active {
  border-color: #369;
  border-width: 2px;
  border-style: solid;
}

.tab-label {
  color: #369;
  font-weight: normal;
  margin: 0em;
}

.fill {
  grid-column-start: 1;
  grid-column-end: 24;
}
.button_to {
  display: grid;
}
