  .github {
    background: #555;
    text-align: center;
    margin: 1em;
    border-radius: 25px;
    padding: 1em;
  }

  li {
    display: block;
    background-color: grey;
    margin: 0em 5em 2em 5em;
    padding: 1em;
    border-radius: 5px;
    text-align: center;
  }

  li:hover {
    background: #777;
  }

  ul {
    text-align: center;
    padding: 1em;
  }

  .new {
    display: flex;
    justify-content: center:
    text-align: center;
  }
