#coding {
  display: grid;
}

  li {
    display: block;
    background-color: grey;
    padding: 1em;
    border-radius: 5px;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 23;
    margin-bottom: 1em;
  }

  li:hover {
    background: #777;
  }

  ul {
    text-align: center;
    padding: 1em;
    display: grid;
  }

  .new {
    text-align: center;
  }
