%div{id: "nav"}
  %ul{class: "span", style: "background: #555; display: block"}
    %li{class: "nav-item"}
      %a{href: "/"}
        home
    %li{class: "nav-item"}
      %a{href: "/coding"}
        coding

    %li{class: "nav-item"}
      %a{href: "/cubing"}
        cubing

    %li{class: "nav-item"}
      %a{href: "/conlanging"}
        conlanging

    %li{class: "nav-item"}
      %a{href: "/conworlding"}
        conworlding
